 * { box-sizing: border-box;
     margin: 0; 
    padding: 0; 
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-image: url('img 1.png');
      color: #e5e7eb; 
      line-height: 1.6;
      background-size: cover;
      

    }
    header {
      padding: 60px 20px;
      text-align: center;
      background: linear-gradient(135deg, #0ea5e9, #22c55e);
      color: #020617;
    }
    header h1 { 
        font-size: 2.5rem;
         margin-bottom: 10px; 
    }
    header p {
         font-size: 1.1rem;
    }
    nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #020617;
    padding: 15px;
    position: sticky;
    top: 0;
    }
nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover { 
    color: #22c55e; 
}

section {
  max-width: 1000px;
  margin: auto;
  padding: 60px 20px;
}
section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #38bdf8;
}

.Projet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.MOI {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,.3);
}
.MOI h3 { 
    margin-bottom: 10px; 
}

footer {
  text-align: center;
  padding: 30px;
  background: #020617;
  color: #94a3b8;

}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: #020617;
  cursor: pointer;
  font-weight: bold;
}
button:hover { 
    opacity: 0.9; 
}
.bas{
    justify-content: center;
    text-decoration: none;
    display: flex;
    text-align: center;
}
.tout{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color: white;
}

